<div class=" py-10">
    @if(authService.getUserDetail()){
    <form [formGroup]="form" class="shadow w-3/4 mx-auto p-10 rounded-md" (ngSubmit)="onSubmit()">



        <div class=" flex justify-between items-center">
            <h1 class="text-2xl font-semibold mb-10">{{isEdit?'Edit photo':'Add photo'}}</h1>


        </div>




        <div class="grid grid-cols-2 gap-4 my-6  w-2/3 ">

            <div class="text-gray-600 font-bold">Paste the resource link or file Name </div>

            <input matinput type="text" formControlName="src" class="border-2 border-primary  p-2 px-2 rounded-md"
                placeholder="Src" multiple (input)="changePhoto()">







        </div>

        @if (src.startsWith('http')) {
        <picture class="w-40 h-60 flex justify-center">
            <source media='(min-width:10px)' [srcset]="[src]">


            <img mat-card-image src="" alt="Photo of a Shiba Inu">
        </picture>
        } @else {
        <picture class="w-40 h-60 flex justify-center">

            <source media='(min-width:10px)' [srcset]="['assets/Photo/'+src]">


            <img mat-card-image src="" alt="Photo of a Shiba Inu">
        </picture>

        }




        <button class="bg-blue-500 shadow-md px-4 py-4 p-3 my-4  gap-5 rounded-md text-white"> {{isEdit?'Edit
            Picture':'Add
            Picture'}}
        </button>

        <button [routerLink]="'/students'"
            class="shadow-md rounded-md  p-3 my-4 px-4 py-4 ml-4 bg-blue-300 text-white ">
            Cansel
        </button>


        {{form.value|json}}

    </form>
    }
    @else{
    <h1 class="text-2xl">You are not logged in</h1>
    <a routerLink="/login">
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-md">
            Login
        </button>
    </a>
    }
</div>